<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
<link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 600px;margin:20px auto;">
<form  th:action="@{/toUpdateEmployee(${employee})}" method="get">
    <!--<div class="form-group row" hidden>-->
        <!--<label for="idPassword3" class="col-sm-2 col-form-label">员工编号：</label>-->
        <!--<div class="col-sm-8">-->
            <!--<input type="text" name="id" th:value="${employee.id}" class="form-control" id="idPassword3">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">姓名：</label>
        <div class="col-sm-8">
            <input type="hidden" name="id" th:value="${employee.id}">
            <input type="text" name="lastName" th:value="${employee.lastName}" class="form-control" id="inputPassword3" placeholder="请输入姓名">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">邮箱：</label>
        <div class="col-sm-8">
            <input type="email" name="email" th:value="${employee.email}" class="form-control" id="inputEmail3" placeholder="@Email">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">性别：</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="1" th:checked="${employee.gender}==1">
                    <label class="form-check-label" for="gridRadios1">
                        男
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="0" th:checked="${employee.gender}==0">
                    <label class="form-check-label" for="gridRadios2">
                        女
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-2">所属部门：</div>
        <div class="col-sm-8">
            <select class="form-control" id="inputGroupSelect01" name="department.id" placeholder="请选择部门">
                <option value="0">请选择部门</option>
                <option value="101" th:selected="${employee.department.id}==101">D-AA</option>
                <option value="102" th:selected="${employee.department.id}==102">D-BB</option>
                <option value="103" th:selected="${employee.department.id}==103">D-CC</option>
                <option value="104" th:selected="${employee.department.id}==104">D-DD</option>
                <option value="105" th:selected="${employee.department.id}==105">D-EE</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">生日：</div>
        <div class="col-sm-8">
            <input class="form-control" name="birth" th:value="${#dates.format(employee.birth,'yyyy/MM/dd HH:mm:ss')}" type="datetime"/>
        </div>
    </div>
    <!--<div class="form-group row">-->
    <!--<div class="col-sm-10">-->
    <!--<button type="submit" class="btn btn-primary">提交</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <a type="button" class="btn btn-secondary" th:href="@{/getEmployees}">取消</a>
    <button type="submit" class="btn btn-primary" >确定</button>
    <!--</div>-->
</form>
</div>
</body>
</html>